@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0D0D0D;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;

}